body{
  background-image: url(patt.png);
}
#navbar ul{
	display: none;
	position: absolute;
}
#navbar {
	background-color: #cadbed;
	width: 1920px;
	height: 100px;
	background-color: rgba(202, 219, 237, 0.85)
}
#navbar li:hover ul { display: block; 
}
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

 #navbar li {
  float: left;
  position: relative;
  height: 50px;
  text-align: center;

}
#navbar li a {
  display: block;
  font: 11pt ;
  width: 145px;
  text-decoration: none;
  min-height: 50px;
  color: #2c71b8;
 }

#navbar li:hover { 
	background-color: #2c71b8;
}
#navbar li a:hover{
	background:white;
	color: #2c71b8;
	max-height: 50px;
}
#navbar ul li{
	background: #2c71b8;
	text-align: left;
}
#navbar li ul li{
	min-width: 250px;
	text-align: left;
}
#navbar li ul li a:hover{
	min-width: 250px;
	background: white;
}
#navbar li ul li a{
	width: 267px;
	padding-left: 25px;
	max-height: 50px;
	color: white;
}
#navbar li ul li:hover{
	text-align: left;
	max-height: 50px;
}
#search{
	margin-left: 30px; 
	margin-top: 32px;
    border: solid 1px #2c71b8; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 200px; /* Ширина поля */
    height: 40px;
    background-color: rgba(202, 219, 237, 0);
    text-align:10px;
    padding-left: 19px;
    color: #2c71b8;
    align-self: left;
}
#last{
	width: 40px;
	background: white;
	position: relative; /* Относительное позиционирование */
    top: -40px;
    left: 1529px;
    text-align: center;
	padding-top: 10px;
	padding-bottom: 7px;

}
.bordaMrg{
	border-left: solid 1px #2c71b8;
	margin-top:25px;
	line-height: 50px;
	color: #2c71b8;
}
